[features]
seeds = false
skip-lint = false

[programs.localnet]
authenticity_protocol = "AuthP1nDUMMY111111111111111111111111111111"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "anchor test"
